.header{
    width: 100vw;
    height: 100px;
    background-color: rgb(239, 90, 21);
}
.MyPosts{
    margin-left: 20px;
    position: relative;
}
.posts{

}

.MyPosts  button{
}
.button{
    padding: 7px;
    position: absolute;
    margin: 0 0 0 10px;

}